<div class="d-flex flex-column align-items-center card bg-black border-0 text-white px-2 py-3">
<%= form_with(model: movie, html: { multipart: true }) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin_role? %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="mb-2 d-flex flex-column">
      <%= form.label :title, style: "display: block", class: "form-label w-50" %>
      <%= form.text_field :title %>
    </div>
    <div class="mb-2 d-flex flex-column">
      <%= form.label :text, style: "display: block", class: "form-label w-50" %>
      <%= form.text_field :text %>
    </div>
    <div class="mb-2 d-flex flex-column">
      <%= form.label :category, style: "display: block", class: "form-label w-50" %>
      <%= form.text_field :category %>
    </div>
    <div class="mb-2 d-flex flex-column">
      <%= form.label :image, class: "form-label w-50" %>
      <%= form.file_field :image, style: "display: block", class: "form-label w-50" %>
    </div>
    <div>
      <%= form.button :button, type: :submit, class: "p-1 btn btn-warning" %>
    </div>
  <% end %>
<% end %>
</div>