<%= form_with(model: movie, html: { multipart: true }) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin_role? %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :text, style: "display: block" %>
      <%= form.text_field :text %>
    </div>
    <div>
      <%= form.label :category, style: "display: block" %>
      <%= form.text_field :category %>
    </div>
    <div>
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
