
<div class="py-4">
<% if !user_signed_in? %>
  <div class="card p-3">
    <h1>What do you think about movie?</h1>
    <div class="jumbotron">
      <p>Sign Up or Sign In to add ratings </p>
      <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
      <p><%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
<% end %>

<div class="py-4">
Search by Category
  <%= form_tag movies_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Type a category' %>
    <%= submit_tag 'Search' %>
  <% end %>
</div>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="img-thumbnail" >
        <%= link_to (image_tag movie.image.url(:medium), class: 'image col-12'), movie %>
        <div class="py-2">
          <%= movie.rating %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<%= paginate @movies %>
<br>
<br>
<br>