<div class="py-4 ">
<%# <div class="card"> %>
  <%# <div class="panel-body"> %>
    <div class="row justify-content-center">
      <div class="col-md-4 card">
        <p style="color: green"><%= notice %></p>
        <%= image_tag @movie.image.url(:medium) %>

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie.text %></td>
              </tr>
              <tr>
                <td><strong>Category:</strong></td>
                <td><%= @movie.category %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>

                  <td><%= @avg_rating %></td>

              </tr>
            </tbody>
          </table>
        </div>
        <% if current_user %>
          <% if current_user.admin_role? %>
            <div>
              <%= link_to "Edit this movie", edit_movie_path(@movie) %>

              <%= button_to "Destroy this movie", @movie, method: :delete %>
            </div>
          <% end %>
        <% end %>
              <%= link_to "Back to movies", movies_path %>                   
              <%= link_to "Mark a rating", new_movie_review_path(@movie) %>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>