<%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track": false %>

<div class="py-4 text-white">
    <div class="row justify-content-center">
      <div class="col-md-4 card bg-dark border-0 text-white" style="color: white !important">
        <%= image_tag @movie.image.url(:medium) %>

        <div class="table-responsive">
          <table class="table text-white">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie.text %></td>
              </tr>
              <tr>
                <td><strong>Category:</strong></td>
                <td><%= @movie.category %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>

                  <td> <%= @avg_rating %> <div class="star-rating" data-score=<%= @avg_rating %>></div></td>

              </tr>
            </tbody>
          </table>
        </div>
        <% if current_user %>
          <% if current_user.admin_role? %>
            <div class="row justify-content-around mb-2">
              <%= link_to "Edit this movie", edit_movie_path(@movie), class: "btn btn-warning col-5" %>
              <div class="col-5 px-0"><%= button_to "Destroy this movie", @movie, method: :delete, class: "btn btn-warning w-100" %></div>
            </div>
          <% end %>
        <% end %>
        <div class="row justify-content-around">
              <%= link_to "Back to movies", movies_path, class: "btn btn-warning col-5" %>                   
            </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>