<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
 <div class="container">
  <a class="navbar-brand"><%= link_to "KZDMs", root_path, class: "navbar-brand p-2 bg-warning rounded text-black fw-bold" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <% if user_signed_in? && current_user.admin_role? %>
        <li class="nav-item active">
          <a><%= link_to "New Movie", new_movie_path, class: "nav-link" %></a>
        </li>
        <li class="nav-item active">
          <a><%= link_to "Admin", admin_users_path, class: "nav-link" %></a>
        </li>
      <% end %>

      <% if !user_signed_in? %>
        <li class="nav-item">
          <a><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to "Sign In", new_user_session_path, class: "nav-link" %></a>
        </li>
        <% else %>
        <li class="nav-item">
          <a><%= link_to "Account", edit_user_registration_path, class: "nav-link" %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to "Sign out", destroy_user_session_path, method: 'delete', class: "nav-link" %></a>
        </li>
      <% end %>

      <div class="py-1 px-2">
        <%= form_tag movies_path, method: :get do %>
          <%= text_field_tag :search, params[:search], placeholder: 'Search by category' %>
          <%= submit_tag 'Search', class: "p-1 btn btn-dark" %>
        <% end %>
      </div>
    </ul>
  </div>
  </div>
</nav>
